/*Carousel*/
.Carousel{
    width: 100%;
    height: 90vh;
    position: relative;
    margin-top: 70px;
    background: black;
    overflow: hidden;
}
.Carousel .list .item{
    position: absolute;
    inset: 0 0 0 0;
}
.Carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Carousel .list .item .content{
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 20px;
    left:50px;
    padding-right: 30%;
    max-width: 60%;
}
.Carousel .list .item .content .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.Carousel .list .item .content .title,
.Carousel .list .item .content .topic{
    font-weight: bold;
    font-size: 1rem;
    list-style: 1.3em;
}
.Carousel .list .item .content .title{
    font-size: 2rem;
}
.Carousel .list .item .content .topic{
    font-size: 4rem;
}
.Carousel .list .item .content .des{
    font-size: 1rem;
}
.Carousel .list .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2,130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}






/*thumbnail*/
.thumbnail{
    position: absolute;
    bottom: 20px;
    left: 65%;
    width: 100%;
    z-index: 80;
    display: flex;
    gap: 10px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    border-radius: 5px;
    display: flex;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumbnail .item .content {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-items:center;
}





/*arrow*/
.arrows{
    position: absolute;
    top: 85%;
    left:50px;
    display: flex;
    gap: 10px;
    align-items: center; 
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:none ;
    font-size: large;
    transition: .5s;
}
.Carousel .list .item:nth-child(1){
    z-index: 20;
}
.Carousel .list .item:nth-child(1) .author,
.Carousel .list .item:nth-child(1) .title,
.Carousel .list .item:nth-child(1) .topic,
.Carousel .list .item:nth-child(1) .des,
.Carousel .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}
.Carousel .list .item:nth-child(1) .des{
    width: 80%;
}
@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.Carousel .list .item:nth-child(1) .title{
    animation-delay: 1.3s;
}
.Carousel .list .item:nth-child(1) .topic{
    animation-delay: 1.4s;
}
.Carousel .list .item:nth-child(1) .des{
    animation-delay: 1.6s;
}
.Carousel .list .item:nth-child(1) .buttons{
    animation-delay: 1.8s;
}





/*effect next click*/
.Carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 65%;
    bottom: 20px;
    border-radius: 5px;
    animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.Carousel.next .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail 1.5s linear forwards;
}
@keyframes showThumbnail {
    to {
        width: 150px;
    }
}
.Carousel.next .thumbnail{
    transform: translateX(150px);
    animation: tranformThumbnail .5s linear 1 forwards;
}
@keyframes tranformThumbnail{
    to{
        transform: translateX(0);
    }
}





/*effect prev click*/
.Carousel.prev .list .item:nth-child(2){
    z-index: 30;
}
.Carousel.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}
@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        border-radius: 5px;
        left: 65%;
        bottom: 20px;
        z-index: 30;
    }
}
.Carousel.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear forwards;
}
.Carousel.prev .list .item:nth-child(2) .author,
.Carousel.prev .list .item:nth-child(2) .title,
.Carousel.prev .list .item:nth-child(2) .topic,
.Carousel.prev .list .item:nth-child(2) .des,
.Carousel.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 1.5s linear 1 forwards;
}
@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
.Carousel.next .arrows button,
.Carousel.prev .arrows button{
    pointer-events: none;
}





/*time*/
.time{
    width: 0%;
    height: 4px;
    position: absolute;
    z-index: 99;
    left: 0;
}
.Carousel.next .time,
.Carousel.prev .time{
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}
@keyframes timeRunning{
    to{
        width: 0;
    }
}





@media (min-width: 280px) {
    
    .Carousel .list .item .content .author{
        font-size: 8px;
        letter-spacing: 6px;
    }
    .Carousel .list .item .content .title{
        font-size: 16px;
    }
    .Carousel .list .item .content .topic{
        font-size: 25px;
    }
    .Carousel .list .item .content .des{
        font-size: 11px;
    }
    .Carousel .list .item .content{
        padding-right: 0;
        left: 20px;
    }
    .Carousel .list .item .content .buttons{
        display: flex;
    }
    .Carousel .list .item .content .buttons button{
        height: 22px;
        width: 60px;
        font-size: 10px;
        margin-top: 1px;
        gap: 2px;
    }
    .Carousel .thumbnail{
        bottom: 30px;
        gap: 5px;
        left: 68%;
    }
    .Carousel .thumbnail .item{
        height: 140px;
        width: 80px;
    }
    .Carousel .thumbnail .item .content .title{
        font-size: 11px;
        height: 30px;
        font-weight: bold;
    }
    .Carousel .thumbnail .item .content .des{
        display: none;
    }
    @keyframes outImage{
        to{
            width: 80px;
            height: 140px;
            left:68%;
            bottom: 30px;
        }
    }
    .Carousel.next .list .item:nth-child(1) img{
        width: 80px;
        height: 140px;
        left: 68%;
        bottom: 30px;
        animation: showImage 0.5s linear 1 forwards;
    }
    @keyframes showThumbnail {
        to {
            width: 80px;
        }
    }
    .Carousel .arrows{
        bottom: 30px;
        left: 30px;
        height: 22px;
        width: 100px;
        justify-content: space-between;
    }
    .Carousel .arrows button {
        font-size: 10px;          
    }
    .Carousel .Blur{
        height: 110px;
        z-index: 20;
    }
  }

  /* Medianas pantallas (375px) */
@media (min-width: 375px) {
    .Carousel .list .item .content .author{
        font-size: 14px;
    }
    .Carousel .list .item .content .title{
        font-size: 25px;
    }
    .Carousel .list .item .content .topic{
        font-size: 40px;
    }
    .Carousel .list .item .content .des{
        font-size: 12px;
    }
    .Carousel .Blur{
        height: 160px;
    }
}

  /* Medianas pantallas (375px) y altura considerable */
@media (min-width: 375px) and (min-height: 860px) {
    .Carousel .list .item .content .author{
        font-size: 16px;
    }
    .Carousel .list .item .content .title{
        font-size: 30px;
    }
    .Carousel .list .item .content .topic{
        font-size: 44px;
    }
    .Carousel .list .item .content .des{
        font-size: 14px;
    }
    .Carousel .list .item .content .buttons button{
        height: 38px;
        width: 120px;
        font-size: 16px;
    }
    .Carousel .thumbnail .item{
        height: 220px;
        width: 120px;
    }
    @keyframes outImage{
        to{
            width: 120px;
            height: 220px;
            left:68%;
            bottom: 30px;
        }
    }
    .Carousel.next .list .item:nth-child(1) img{
        width: 120px;
        height: 220px;
        animation: showImage 0.5s linear 1 forwards;
    }
    @keyframes showThumbnail {
        to {
            width: 120px;
        }
      }
      .Carousel .Blur{
        height: 290px;
    }
}


  /* Medianas pantallas (768px y más) */
  @media (min-width: 668px) {
    .Carousel .list .item .content .author{
        font-size: 18px;
        letter-spacing: 10px;
    }
    .Carousel .list .item .content .title{
        font-size: 36px;
    }
    .Carousel .list .item .content .topic{
        font-size: 60px;
    }
    .Carousel .list .item .content .des{
        font-size: 18px;
    }
    .Carousel .list .item .content .buttons button{
        font-size: 20px
    }
    .Carousel .thumbnail .item{
        height: 320px;
        width: 150px;
    }
    .Carousel .thumbnail .item .content{
        height: 120px;
    }
    .Carousel .thumbnail .item .content .title{
        font-size: 16px;
        font-weight: bold;
    }
    .Carousel .thumbnail .item .content .des{
        font-size: 14px;
        display: block;
    }
    @keyframes outImage{
        to{
            width: 150px;
            height: 320px;
            left:68%;
            bottom: 30px;
        }
    }
    .Carousel.next .list .item:nth-child(1) img{
        width: 120px;
        height: 320px;
        left: 68%;
        bottom: 30px;
        animation: showImage 0.5s linear 1 forwards;
    }
    @keyframes showThumbnail {
        to {
            width: 150px;
        }
    }
    .Carousel .Blur{
        height: 410px;
        z-index: 20;
      }
  }
  
  /* Grandes pantallas (1024px y más) */
  @media (min-width: 1024px) {
    .Carousel .list .item .content .author{
        font-size: 14px;
    }
    .Carousel .list .item .content .title{
        font-size: 25px;
    }
    .Carousel .list .item .content .topic{
        font-size: 35px;
    }
    .Carousel .list .item .content .des{
        font-size: 12px;
    }
    .Carousel .list .item .content .buttons button{
        height: 40px;
        width: 120px;
        font-size: 14px;
    }
    .Carousel .thumbnail{
        bottom: 30px;
        gap: 5px;
        left: 68%;
    }
    .Carousel .thumbnail .item{
        height: 220px;
        width: 120px;
    }
    .Carousel .thumbnail .item .content{
        height: 80px;
    }
    .Carousel .thumbnail .item .content .title{
        font-size: 12px;
        height: 30px;
        font-weight: bold;
    }
    .Carousel .thumbnail .item .content .des{
        font-size: 10px;
        display: block;
    }
    @keyframes outImage{
        to{
            width: 120px;
            height: 220px;
            left:68%;
            bottom: 30px;
        }
    }
    .Carousel.next .list .item:nth-child(1) img{
        width: 120px;
        height: 220px;
        left: 68%;
        bottom: 30px;
        animation: showImage 0.5s linear 1 forwards;
    }
    @keyframes showThumbnail {
        to {
            width: 120px;
        }
    }
    .Carousel .arrows button {
        font-size: 15px;          
    }
    .Carousel .Blur{
        height: 300px;
      }
  }


  @media (min-width: 1280px) {
    .Carousel .list .item .content .author{
        font-size: 14px;
        letter-spacing: 14px;
    }
    .Carousel .list .item .content .title{
        font-size: 30px;
    }
    .Carousel .list .item .content .topic{
        font-size: 45px;
    }
    .Carousel .list .item .content .des{
        font-size: 14px;
    }
    .Carousel .list .item .content .buttons button{
        height: 40px;
        width: 180px;
        font-size: 13px;
    }
    .Carousel .thumbnail{
        gap: 10px;
        left: 55%;
        gap:  2px;

    }
    .Carousel .thumbnail .item{
        height: 240px;
        width: 140px;
    }
    .Carousel .thumbnail .item .content{
        height: 90px;
    }
    .Carousel .thumbnail .item .content .title{
        font-size: 13px;
    }
    .Carousel .thumbnail .item .content .des{
        font-size: 12px;
    }
    @keyframes outImage{
        to{
            width: 140px;
            height: 240px;
            left:55%;
            bottom: 30px;
        }
    }
    .Carousel.next .list .item:nth-child(1) img{
        width: 140px;
        height: 240px;
        left: 55%;
        bottom: 30px;
        animation: showImage 0.5s linear 1 forwards;
    }
    @keyframes showThumbnail {
        to {
            width: 140px;
        }
    }
    .Carousel .arrows button {
        font-size: 18px;          
    }
    .Carousel .Blur{
        height: 240px;
      }
  }

  