.input-box{
    position: relative;
    height: 40px;
    max-width: 60px;
    width: 100%;
    margin-right: 10px;
    border-radius: 6px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box.open{
    max-width: 340px;
    margin: 0 40px;
}
.input-box:hover:not(.open) {
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.input-box:hover:not(.open) .search-icon{
    color: navajowhite;
}
.input-box input{
    position: relative;
    width: 0;
    height: 0;
    padding: 0 15px;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    transition: .5s ease-in-out 1 forwards ;
}
.input-box.open input{
    padding: 0 15px 0 65px;
    display: block;
    height: 100%;
    width: 100%;
}
.input-box .search{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;    
    border-radius: 50%;
    background-color: #a29f9f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box.open .search{
    border-radius: 6px 0 0 6px;
}
.search .search-icon{
    font-size: 30px;
    color: white;
    transform: rotate(90deg);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box.open .search-icon{
    transform: rotate(0deg);
    color: navajowhite;
}
.input-box .close-icon{
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box.open .close-icon{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
}

@media(max-width:610px){
    .input-box{
display: none;
}
}