.input-box-responsive {
    position: fixed;
    top: 50%;
    left: 23%;
    transform: translateY(-50%); 
    height: 35px;
    max-width: 60px;
    width: 50%;
    margin-right: 10px;
    border-radius: 6px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-box-responsive.open{
    max-width: 140px;
    margin: 0 40px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box-responsive:hover:not(.open) {
    transform: scale(1.2);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.input-box-responsive:hover:not(.open) .search-icon2{
    color: navajowhite;
}
.input-box-responsive input{
    position: relative;
    width: 0;
    height: 0;
    padding: 0 15px;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    transition: .5s ease-in-out 1 forwards ;
}
.input-box-responsive.open input{
    padding: 0 15px 0 65px;
    display: block;
    height: 100%;
    width: 100%;
}
.input-box-responsive .searchResposive{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35px;    
    border-radius: 50%;
    background-color: #a29f9f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box-responsive.open .searchResposive{
    border-radius: 6px 0 0 6px;
}
.search .search-icon2{
    font-size: 30px;
    color: white;
    transform: rotate(90deg);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box-responsive.open .search-icon2{
    transform: rotate(0deg);
    color: navajowhite;
}
.input-box-responsive .close-icon2{
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box-responsive.open .close-icon2{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
}
@media(min-width:611px){
    .input-box-responsive{
        display: none;
    }
}
@media (max-width: 280px) {
    .input-box-responsive { 
        max-width: 80px;
        width: 40%;
        margin-right: 0px;
    }
    .input-box-responsive.open{
        max-width: 140px;
        margin: 0 20px;
    }
    .input-box-responsive.open .close-icon2{
        right: -25px;
        transform: translateY(-50%);
    }
    .input-box-responsive.open input{
        padding: 0 40px;
        outline: none;
        border-radius: 6px;
        font-size: 8px;
        font-weight: 400;
        color: black;
        transition: .5s ease-in-out 1 forwards ;
    }
}
