.logos-content{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 15px;
    top: 0;
    /* background: black; */
    position: relative;
    display: flex;
    z-index: 1;
    /* border-top: 1px solid violet;
    border-bottom: 1px solid violet; */
}
.logos-content:before,
.logos-content:after{
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos-content:hover .logos-slide{
    animation-play-state: paused;
}
.logos-slide{
    display: flex;
    animation: 35s slide infinite linear;
   
}
.logos-slide img{
    height: 25px;
    padding-left:162px;
}

@media(max-width:1000px){
    .logos-content:before,
    .logos-content:after{
        width:10px;
    }
}
@keyframes slide{
    form{
       transform: translateX(0); 
    }to{
        transform: translateX(-100%); 
    }
}
